

body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
}
header
{
    background-color: antiquewhite;
    grid-column: 1 / 7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}
#logo
{
    height: 120px;
}
nav
{
    margin: 0 2em ;
}
nav button
{
    border-radius: 10px;
    padding: 10px;
    background-color: lightcoral;
    margin-left: 1em;
    font-size: 1.5em;
    color: white;
    
}
header div
{
    margin: 0 2em;
}
h1
{
    color: white;
}
#content
{
    grid-column: 1 / 7;
    grid-row: 2 / 7;
}
#homepage
{   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
}
#home-image
{
    width: 500px;
    height: 500px;
    border-radius: 80px 0 80px  0 ;
}
.description
{
    background-color: antiquewhite;
    padding:  1em 2.5em;
    margin: 2em;
    border-radius: 10px;
    font-weight:900;
    width: 40vw;

}
#review
{
    height: 20vh;
    align-content: center;
}
#menu-page
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.meals-section-container
{
    border-radius: 30px; 
    background-color: antiquewhite;
    width: 80vw;
    padding: 1em 2.5em;

}
.meals-section-container div
{
    display: grid;
    grid-template-columns: repeat(8 ,1fr);
    justify-items: start;
    gap: 3em;
    font-size: 18px;

}
.meal-desc
{
    grid-column: 3 / 8;
    
}
.meal-name
{
    font-weight: 800;
    grid-column: 1 / 3;
}